{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Project 2: Speech UI</h1>
            <p class="lead">Our UI interacts with both mouse and voice!</p>
        </div>
    </div>
{% endblock jumbotron %}
{% block content %}  
	   <div class="containter" id="bigMama">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        DATA
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        Data
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}